<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/condorcet?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">sQl2025_NIKA</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>



        <!-- Database connection settings БЫЛО-->
<!--        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/condorcet?serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Drozd2148892</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
      &lt;!&ndash;  <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>&ndash;&gt;
        <property name="show_sql">false</property>-->




<!-- Для явного указания классов-сущностей, которые Hibernate должен обрабатывать. Однако при использовании JPA-аннотаций-->

<!--        <mapping class="condorcet.Models.Entities.Flight" />-->
        <mapping class="condorcet.Models.Entities.User" />
<!--        <mapping class="condorcet.Models.Entities.UserMark" />-->
        <mapping class="condorcet.Models.Entities.Passenger" />
        <mapping class="condorcet.Models.Entities.PersonData" />
<!--        <mapping class="condorcet.Models.Entities.Aircraft" />
        <mapping class="condorcet.Models.Entities.Route" />-->

    </session-factory>

</hibernate-configuration>